html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

img { vertical-align: top; }

a {
    text-decoration: none;
}

html {
    font-family: sans-serif;
}

header{
	background-color: gray;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 5%;
}

#navbar{
	padding-left: 20%;
}

#header li{
	margin-top: 8%;
	display: inline-block;
}

.logo{
	float:left;
	margin-top: 2%;
}

.navbar-nav li a{
	display: inline-block;
    padding: 5px 10px 6px;
	border: 1px solid rgba(255, 255, 255, 0.8);
    line-height: 1;
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.navbar-nav li{
	margin-right: 1%;
}

ul.navbar-nav li:hover {
    background: #e7604a;
    border-color: #e7604a;
}

ul.navbar-nav li:hover a{
    color: #FFF;
}

.user-restaurant-contacts-list{
	border-style: dotted;
}

.navbar-nav .user-restaurant-contacts-list {
	border: 0;
}

.nav-mini-wrapper {
    width: 16%;
}

.user-list ul{
	list-style: none;
	padding-left: 0;
	display:none;
	position: absolute;
	background-color: gray;
}

.user-list:hover .dropdownuser{
	display:block;
}

.user-list{
	position: relative;
	display: inline-block;
}

.restaurant-list ul{
	list-style: none;
	padding-left: 0;
	display:none;
	position: absolute;
	background-color: gray;
}

.restaurant-list:hover .dropdownrestaurant{
	display:block;
}

.manageRest ul li a{
	width:100px;
}

.manageRest:hover ul{
	display:block;
	margin-left:100%;
	margin-top:-37%;
}

.restaurant-list{
	position: relative;
	display: inline-block;
}

ul.nav-mini.sign-in {
    margin-top: 1px;
	position: relative;
    left: 550%;
}

ul.nav-mini.sign-in li a {
    border: 1px solid rgba(255, 255, 255, 0.8);
    line-height: 1;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px 8px 4px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

ul.nav-mini.sign-in li a:hover {
    color: #FFF;
    background: #e7604a;
    border-color: #e7604a;
}

.restaurantItem section{
	display:inline-flex;
	text-align:left;
	background-color:#C6C6C6;
	margin-bottom:1%;
	width:620px;
}

.descriptionRest{
	box-sizing: margin-box;
	width:300px;
}

.descriptionRest{
	padding-left:3%;
	padding-top:1%;
}

.descriptionRest a{
	color:red;
	font-size:150%;
	display: block;
	padding-bottom:1%;
	text-align:center;	
}

.descriptionRest p{
	padding-left:10%;
	font-size:70%;	
}

.restsList > ul{
	margin-top:3%;
	padding-left:3%;
	list-style:none;
	text-align:center;
}

.restList {
	width:200px;
	list-style:none;
	margin-bottom:3%;
}

.restList span {
	font-weight:bold;
}

#manageRest:hover ul{
	color:green;
	display:block;
}

#fundo{
	background-color:#1ff0ec;
}

#login,#registration{
	text-align: center;
}

#login input{
	width:200px;
	margin-top:1%;
	margin-bottom:2%;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}
#login button{
	margin-bottom:2%;
}

#submit {
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	width:90px;
}

#registration p{
	padding-top:2%;
}

#registration button{
	margin-bottom:2%;
}

#registration input{
	width:200px;
	margin-top:1%;
	margin-bottom:1%;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.aboutUs-wrapper .container{
	padding:2%;
}

.aboutUs-wrapper .container .FAQ h1{
	color:red;
	font-size: 250%;
	padding:1%;
}

.aboutUs-wrapper .container .FAQ p{
	color:brown;
	font-size: 120%;
}

.row{
	background-color:red;
	display:inline-flex;
}

.search-restaurant-wrapper .container{
	padding-top:30px;
	text-align:center;
}

.search-restaurant{
	background-color:gray;
	border:solid;
	width:300px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:15px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}

.Selector-content {
	padding-top:30px;
	display:inline-flex;
	margin-left:30px;
	padding-bottom:30px;
	font-size:120%;
}

.results{
	margin-left:30px;
}

.Selector{
	margin-right:20px;
}

.RestaurantItem{
	margin-top:20px;
}

.bigText{
	width: 300px;
	height:300px;
}

.create-restaurant-wrapper .container .restaurantInputs *{
	margin-top:5px;
	margin-bottom:5px;
}

.create-restaurant-wrapper {
 overflow: auto; 
 }
 
.create-restaurant-wrapper #submit{
	margin-left:1%;
}

.restaurant-content{
	text-align:center;
}

.restPrimary {
	display:block;
	width:800px;
	display: inline-flex;
}

.restDescription{
	margin-left:10%;
	margin-right:10%;
}

.restImage, .restAttr {
	padding:1%;
	text-align:left;
	margin-top:10%;
	border:solid;
	border-color:gray;
	margin-bottom:10%;
}

.restAttr li{
	width:200px;
}

.restAttr li input{
	width:66px;
}

.restDescription a{
	font-size:290%;
	font-weight:bold;
	display: block;
	padding-bottom:20%;
	margin-top:10%;
	
}

.restDescription p{
	text-align:left;
	padding-left:7%;
}

.tabels {
	margin:3%;
	display:inline-flex;
}

.home-container{
	text-align:center;
}

.rating5-wrapper{
	margin-right:1%;
}

.profile-wrapper{
	padding:5% 20% 5% 20%;	
}

.password-wrapper{
	padding:5% 20% 5% 20%;	
}

.profile-container{
	text-align:center;
	border:solid;
}

.password-container{
	text-align:center;
}

.inline{
	display:inline-flex;
}

.create-restaurant-wrapper .container{
	margin:2% 2% 2% 2%;
}

.editBtn{
	margin-top:5%;
	text-align:right;
}

.favourite{
	text-align:right;
	margin-right:22%;
}

.upImg {
	padding-left:10%;
}

.userUpload{
	margin-top:2%;
	margin-left:10%;
}

.inputs-perfil{
	display:inline-flex;
}

.editButton{
	text-align:right;
	margin:2%;
}

.password > span{
	font-size:150%;
	margin:2%;
	display:block;
	color:red;
}

.profile > span{
	font-size:150%;
	margin:2%;
	display:block;
	color:red;
}

.inputs-password label{
	width:170px;
	display:inline-block;
}

.inputs-password span{
	display:inline-block;
	margin:1%;
}

.inputs-perfil label{
	width:70px;
	display:inline-block;
}

.inputs-perfil span{
	display:inline-block;
	margin:1%;
}

.pagination-wrapper{
	height:23px;
}

.pagination ul{
	text-align:center;
}

.pagination ul li{
	display: inline;
	margin:3px;
}

.rating-title, .comment-title{
	color:blue;
	margin-bottom:5%;
	font-size:150%;
}

.rating5-wrapper li{
	list-style:none;
}

.comment5-wrapper li{
	list-style:none;
}

.rating-container{
	 display: table;
  margin: auto;
}

.rating {
	box-sizing: border-box;
    width:180px;
	height:50px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    opacity:0;
	width:30px;
    height:30px;
}
.rating span label {
    display:inline-block;
    width:25px;
    height:25px;
    text-align:center;
	margin-right:2px;
    
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    color:#FFF;
	width:25px;
    height:25px;
	content:url("../images/restaurant/star.png");
}

.LastFooter{
	width: 300px;
	text-align:left;
	padding-left:5%;
	padding-top:5%;
	list-style-type: none;
}

.LastFooter ul{
	padding-top:10px;
	list-style-type: none;
}

.LastFooter li{
	padding-top:10px;
}

.LastFooter a:hover{
	color:red;
}

footer{
	text-align:center;
	background-color:gray;
}

.footer-wrapper{
	display:inline-flex;
}

.bottom-footer{
	margin-top:5%;
}

#mapCreate {
	padding-left:5%;
	width:300px;
	height:300px;
}

.mapContainer{
	padding:30px;
}

#mapShow{
	margin-left:35%;
}

.comments-container{
	margin-left:20%;
	text-align:center;
	padding-bottom:10%;
}

.comments-container ul li{
	list-style:none;
	background-color:gray;
	padding:1%;
	border:solid;
	border-radius:25px;
	margin: 1%;
}

#appendCommentsHere{
	width:800px;
	text-align:left;
}

#userComment{
	width:98%;
	background-color:white;
}

#userComment:empty:before {
    content: attr(placeholder);	
}

#userComment:focus {
	outline:0px;
}