/*------------------------------------------------------------------
* Table of Content
* 1. Reset
* 2. Default Typography
* 3. Margin Sets
* 4. Padding Sets
* 5. Border
* 6. Global
* 7. Form
* 8. List
* 9. Layout
* 10. Typography
* 11. Background
* 12. Button
* 13. Section Title
-------------------------------------------------------------------*/

/**
 * Reset
 */
 
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
b,
u,
i,
center,
ol,
ul,
li,
form,
label,
tr,
th,
td,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
time,
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #535151;
     -webkit-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;
    background-color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img {
    -ms-interpolation-mode: bicubic;
}

object,
embed {
    max-width: 100%;
}


/**
 * Default Typography
 */

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a {
    color: #e7604a;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #e7604a;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #333;
    font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #ebebeb
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 25px;
    margin-bottom: 20px
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 18px;
    margin-bottom: 13px
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%
}

h1,
.h1 {
    font-size: 40px;
}

h2,
.h2 {
    font-size: 34px;
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 15px;
}

h6,
.h6 {
    font-size: 13px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
    margin-top: 0;
}

p {
    margin: 0 0 18px
}

p:last-child {
    margin: 0;
}

.lead {
    margin-bottom: 21px;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.3
}

.lead.font-italic {
    letter-spacing: 0.5px;
}

small,
.small {
    font-size: 86%
}

blockquote,
.blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
    margin: 30px 0;
    border-left: 5px solid #e7604a;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}

@media only screen and (max-width: 1199px) {
    h1,
    .h1 {
        font-size: 29px;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 36px;
    }
    h2,
    .h2 {
        font-size: 30px;
    }
    h3,
    .h3 {
        font-size: 24px;
    }
    h4,
    .h4 {
        font-size: 16px;
    }
    h5,
    .h5 {
        font-size: 14px;
    }
    h6,
    .h6 {
        font-size: 13px;
    }
}

@media (max-width: 479px) {}


/**
 * Margin Sets
 */

.mr-0 {
    margin-right: 0px !important
}

.mr-1 {
    margin-right: 1px !important
}

.mr-3 {
    margin-right: 3px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-50 {
    margin-right: 50px !important
}

.ml-1 {
    margin-left: 1px !important
}

.ml-3 {
    margin-left: 3px !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-50 {
    margin-left: 50px !important
}

.mt-1 {
    margin-top: 1px !important
}

.mt-3 {
    margin-top: 3px !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mb-1 {
    margin-bottom: 1px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-16 {
    margin-bottom: 16px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mv-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mv-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mv-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mv-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mv-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mv-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mv-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mv-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.mh-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mh-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mh-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mh-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mh-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mh-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mh-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mh-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.margin-5 {
    margin: 5px !important;
}

.margin-10 {
    margin: 10px !important;
}

.margin-15 {
    margin: 15px !important;
}

.margin-20 {
    margin: 20px !important;
}

.margin-25 {
    margin: 25px !important;
}

.no-magin,
ul.no-margin,
.margin-0 {
    margin: 0 !important
}

.no-mt,
.mt-0 {
    margin-top: 0 !important
}

.no-mb,
.mb-0 {
    margin-bottom: 0 !important
}

.no-ml,
.ml-0 {
    margin-left: 0 !important
}

.no-mr,
.mr-0 {
    margin-right: 0 !important
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .mb-0-sm {
        margin-bottom: 0 !important
    }
    .mb-5-sm {
        margin-bottom: 5px !important
    }
    .mb-10-sm {
        margin-bottom: 10px !important
    }
    .mb-15-sm {
        margin-bottom: 15px !important
    }
    .mb-20-sm {
        margin-bottom: 20px !important
    }
    .mb-25-sm {
        margin-bottom: 25px !important
    }
    .mb-30-sm {
        margin-bottom: 30px !important
    }
    .mb-40-sm {
        margin-bottom: 40px !important
    }
    .mb-50-sm {
        margin-bottom: 50px !important
    }
    .mt-10-sm {
        margin-top: 10px !important
    }
    .mt-15-sm {
        margin-top: 15px !important
    }
    .mt-20-sm {
        margin-top: 20px !important
    }
    .mt-25-sm {
        margin-top: 25px !important
    }
    .mt-30-sm {
        margin-top: 30px !important
    }
    .mt-40-sm {
        margin-top: 40px !important
    }
    .mt-50-sm {
        margin-top: 50px !important
    }
}

@media only screen and (max-width: 767px) {
    .mb-5-xs {
        margin-bottom: 5px !important
    }
    .mb-10-xs {
        margin-bottom: 10px !important
    }
    .mb-15-xs {
        margin-bottom: 15px !important
    }
    .mb-20-xs {
        margin-bottom: 20px !important
    }
    .mb-25-xs {
        margin-bottom: 25px !important
    }
    .mb-30-xs {
        margin-bottom: 30px !important
    }
    .mb-40-xs {
        margin-bottom: 40px !important
    }
    .mb-50-xs {
        margin-bottom: 50px !important
    }
    .mt-5-xs {
        margin-top: 5px !important
    }
    .mt-10-xs {
        margin-top: 10px !important
    }
    .mt-15-xs {
        margin-top: 15px !important
    }
    .mt-20-xs {
        margin-top: 20px !important
    }
    .mt-25-xs {
        margin-top: 25px !important
    }
    .mt-30-xs {
        margin-top: 30px !important
    }
    .mt-40-xs {
        margin-top: 40px !important
    }
    .mt-50-xs {
        margin-top: 50px !important
    }
}

@media (max-width: 479px) {
    .mb-5-xss {
        margin-bottom: 5px !important
    }
    .mb-10-xss {
        margin-bottom: 10px !important
    }
    .mb-15-xss {
        margin-bottom: 15px !important
    }
    .mb-20-xss {
        margin-bottom: 20px !important
    }
    .mb-25-xss {
        margin-bottom: 25px !important
    }
    .mb-30-xss {
        margin-bottom: 30px !important
    }
    .mb-40-xss {
        margin-bottom: 40px !important
    }
    .mb-50-xss {
        margin-bottom: 50px !important
    }
    .mt-5-xss {
        margin-top: 5px !important
    }
    .mt-10-xss {
        margin-top: 10px !important
    }
    .mt-15-xss {
        margin-top: 15px !important
    }
    .mt-20-xss {
        margin-top: 20px !important
    }
    .mt-25-xss {
        margin-top: 25px !important
    }
    .mt-30-xss {
        margin-top: 30px !important
    }
    .mt-40-xss {
        margin-top: 40px !important
    }
    .mt-50-xss {
        margin-top: 50px !important
    }
}


/**
 * Padding Sets
 */

.pr-5 {
    padding-right: 5px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-0,
.no-pr {
    padding-right: 0 !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-0,
.no-pl {
    padding-left: 0 !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-90 {
    padding-top: 90px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pt-0,
.no-pt {
    padding-top: 0px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-90 {
    padding-bottom: 90px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pb-0,
.no-pb {
    padding-bottom: 0 !important
}

.pv-5 {
    padding-top: 5px !important;
    padding-bottom: 5px!important;
}

.pv-10 {
    padding-top: 10px !important;
    padding-bottom: 10px!important;
}

.pv-15 {
    padding-top: 15px !important;
    padding-bottom: 15px!important;
}

.pv-20 {
    padding-top: 20px !important;
    padding-bottom: 20px!important;
}

.pv-30 {
    padding-top: 30px !important;
    padding-bottom: 30px!important;
}

.pv-40 {
    padding-top: 40px !important;
    padding-bottom: 40px!important;
}

.pv-50 {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.pv-60 {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.pv-70 {
    padding-top: 70px!important;
    padding-bottom: 70px!important;
}

.no-pv,
.pv-0 {
    padding-pv: 0 !important;
    padding-bottom: 0 !important;
}

.ph-5 {
    padding-left: 5px !important;
    padding-right: 5px!important;
}

.ph-10 {
    padding-left: 10px !important;
    padding-right: 10px!important;
}

.ph-15 {
    padding-left: 15px !important;
    padding-right: 15px!important;
}

.ph-20 {
    padding-left: 20px !important;
    padding-right: 20px!important;
}

.ph-30 {
    padding-left: 30px !important;
    padding-right: 30px!important;
}

.ph-40 {
    padding-left: 40px !important;
    padding-right: 40px!important;
}

.ph-50 {
    padding-left: 50px!important;
    padding-right: 50px!important;
}

.ph-60 {
    padding-left: 60px!important;
    padding-right: 60px!important;
}

.ph-70 {
    padding-left: 70px!important;
    padding-right: 70px!important;
}

.no-ph,
.ph-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-5 {
    padding: 5px !important
}

.padding-10 {
    padding: 10px !important
}

.padding-15 {
    padding: 15px !important
}

.padding-20 {
    padding: 20px !important
}

.padding-30 {
    padding: 30px !important
}

.no-padding,
.padding-0 {
    padding: 0 !important
}


/**
 * Border
 */

.border {
    border: 1px solid #DDDDDD;
}

.bb,
.border-bottom {
    border-bottom: 1px solid #DDDDDD;
}

.bb-dotted {
    border-bottom: 1px dotted #DDDDDD;
}

.bt,
.border-top {
    border-top: 1px solid #DDDDDD;
}

.br,
.border-right {
    border-right: 1px solid #DDDDDD;
}

.bl,
.border-left {
    border-left: 1px solid #DDDDDD;
}


/**
 * Global
 */

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.block {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.relative {
    position: relative;
}

.clear {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.sm-clear {
    display: none;
}

.map-wrapper img {
    max-width: none;
}

.hoover-pointer:hover,
.hover-pointer:hover {
    cursor: pointer;
}

.hoover-help:hover,
.hover-help:hover {
    cursor: help;
}

.overflow-x-hidden,
.hidden-x {
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* browsers */
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7c000000', endColorstr='#7c000000');
    /* IE */
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.map-wrapper img,
.widget-map img {
    max-width: none !important;
}

.border-shadow {
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .clear-sm {
        clear: both;
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .clear-xs {
        clear: both;
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 479px) {
    .xss-hidden,
    .hidden-xss {
        display: none;
    }
}


/**
 * List
 */

ul.list-with-icon li,
ul.list-icon li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

ul.list-with-icon li i,
ul.list-icon li .icon {
    position: absolute;
    top: 0;
    left: 0;
}

ul.list-with-icon li {
    margin-bottom: 0;
    line-height: 1.5;
}

ul.list-with-icon li + li {
    margin-top: 10px;
}

ul.list-with-icon li i {
    top: 0;
}

ul.list-with-icon.alt li {
    padding-left: 30px;
}

ul.list-with-icon.alt li + li {
    margin-top: 15px;
}

ul.list-icon {
    margin-bottom: -30px;
}

ul.list-icon li {
    margin-left: 55px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 30px;
    padding-left: 0;
    margin-bottom: 30px;
    line-height: 1.4;
}

ul.list-icon li p:not(:last-child) {
    margin: 0 0 10px;
}

ul.list-icon li .icon {
    color: #33B6CB;
    font-size: 24px;
    left: -50px;
}

ul.list-with-icon.font-lg li {
    font-size: 15px;
    padding-left: 23px;
    line-height: 23px;
}

ul.list-with-icon.font-lg li i {
    font-size: 13px;
}

ul.list-bullet-circle li {
    list-style-type: circle;
}

ul.list-bullet-circle-2 li {
    list-style-type: inherit;
}

ul.border-bottom {
    border-bottom: 0;
}

ul.border-bottom li {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

ul.border-bottom.dotted li {
    border-bottom: 1px dotted #CCC;
}

ul.border-bottom li:last-child {
    border-bottom: 0;
}

ul.list-col-2 li {
    width: 50%;
    float: left;
    padding-right: 15px;
}

ul.list-col-3 li {
    width: 33.3333%;
    float: left;
    padding-right: 15px;
}


/**
 * Layout
 */

.container-wrapper {
    position: relative;
    background: white;
    -webkit-transition: margin .3s;
    -o-transition: margin .3s;
    transition: margin .3s;
    padding-top: 0;
}

.not-transparent-header .container-wrapper {
    padding-top: 79px;
}

section,
.section {
    padding: 70px 0;
}

section.sm,
.section.sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-wrapper {
    background: #FFF;
}

.content-wrapper {
    position: relative;
}

.container-outer {
    position: relative;
    overflow: hidden;
}

.right-tone {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70%;
    width: 100%;
    background: #EDEDED;
    margin-right: -22px;
}

.container {
    position: relative;
}

.with-sidebar {
    height: 100%;
}

.with-sidebar:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    width: 1px;
    background: #E5E5E5;
}

.sidebar-line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    width: 1px;
    background: #E5E5E5;
}

.full-width-wrapper {
    overflow-x: hidden;
}

.content-wrapper {
    padding: 30px 0 50px;
}

.sidebar-wrapper {
    padding: 30px 0 50px;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.row-same-height,
.div-same-height {
    display: table;
    table-layout: fixed
}

.col-middle,
.content-middle {
    vertical-align: middle
}

.two-column-css {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

@media (max-width: 1280px) {
    .right-tone {
        margin-right: -8px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .wrapper,
    .container-wrapper {
        padding-top: 0;
    }
    .container-wrapper {
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    .xs-overflow {
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .col-sm-height,
    .content-sm-height {
        display: table-cell;
        float: none!important
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media (max-width: 479px) {}

/**
 * Typography
 */

.font10 {
    font-size: 10px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font16 {
    font-size: 16px !important;
}

.font18 {
    font-size: 18px !important;
}

.font20 {
    font-size: 20px !important;
}

.font22 {
    font-size: 22px !important;
}

.font24 {
    font-size: 24px !important;
}

.font26 {
    font-size: 26px !important;
}

.font100 {
    font-weight: 100 !important;
}

.font200 {
    font-weight: 200 !important;
}

.font300 {
    font-weight: 300 !important;
}

.font400 {
    font-weight: 400 !important;
}

.font500 {
    font-weight: 500 !important;
}

.font600 {
    font-weight: 600 !important;
}

.font700 {
    font-weight: 700 !important;
}

.line12 {
    line-height: 12px !important;
}

.line14 {
    line-height: 14px !important;
}

.line16 {
    line-height: 16px !important;
}

.line18 {
    line-height: 18px !important;
}

.line20 {
    line-height: 20px !important;
}

.line22 {
    line-height: 22px !important;
}

.spacing1 {
    letter-spacing: 1px;
}

.spacing2 {
    letter-spacing: 2px;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-primary {
    color: #e7604a !important;
}

.text-info {
    color: #3A679A !important;
}

.text-success {
    color: #358D44 !important;
}

.text-warning {
    color: #EDBA39 !important;
}

.text-danger {
    color: #DB0B23 !important;
}

.text-color-02 {
    color: #87495B !important;
}

.text-color-03 {
    color: #0B4D81 !important;
}

.text-white {
    color: #FFF !important;
}

.text-grey {
    color: #B5B5B5 !important;
}

.text-muted {
    color: #A8A8A8;
}

.link-info {
    color: #2E8ED7 !important;
}

.link-info:hover {
    color: #287CBD !important;
}

.link-success {
    color: #358D44 !important;
}

.link-success:hover {
    color: #5CC72A !important;
}

.link-warning {
    color: #EDBA39 !important;
}

.link-warning:hover {
    color: #E6B332 !important;
}

.link-danger {
    color: #FF3755 !important;
}

.link-danger:hover {
    color: #E6324D !important;
}

.text-darker {
    color: #333 !important;
}

.upper,
.uppercase {
    text-transform: uppercase !important;
}

.lower {
    text-transform: lowercase !important;
}

.cap {
    text-transform: capitalize !important;
}

a.link-alt {
    color: #AB9F9D;
}

a.link-alt:hover {
    color: #F04F38;
}

.font-italic {
    font-style: italic !important;
}

.underline {
    text-decoration: underline;
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 991px) {
    .text-center-sm {
        text-align: center !important;
    }
}

@media only screen and (max-width: 767px) {
    .text-center-xs {
        text-align: center !important;
    }
    .text-left-xs {
        text-align: left !important;
    }
    .text-right-xs {
        text-align: right !important;
    }
}

@media (max-width: 479px) {
    .text-center-xss {
        text-align: center !important;
    }
    .text-left-xss {
        text-align: left !important;
    }
    .text-right-xss {
        text-align: right !important;
    }
}


/**
 * Form
 */
.label-danger {
    background-color: #e7604a;
}
label {
    font-size: 15px;
    color: #424242;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 0 10px;
    line-height: 1.2;
}

.form-control {
    border-radius: 3px;
    border-color: #CCC;
    font-weight: 400;
    height: 36px;
    font-size: 15px;
}

.form-control:focus {
    border-color: #e7604a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-sm {
    height: 32px;
    font-size: 12px;
}

.form-icon,
.form-icon-right {
    position: relative;
}

.form-icon .form-control {
    padding-left: 28px;
}

.form-icon i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #999;
}

.form-icon-right .form-control {
    padding-right: 28px;
}

.form-icon-right i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
}

.form-lg label {
    font-size: 18px;
}

.form-lg .form-control {
    height: 42px;
    font-weight: 600;
}

.form-lg i {
    font-size: 18px;
    bottom: 12px;
}

.form-control::-moz-placeholder {
    color: #9C9C9C;
}

.form-control:-ms-input-placeholder {
    color: #9C9C9C;
}

.form-control::-webkit-input-placeholder {
    color: #9C9C9C;
}


/**
 * Section Title
 */

.section-title {
    margin: 0 0 60px;
}

.section-title h2 {
    text-transform: lowercase;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.section-title h3 {
    text-align: center;
    font-size: 25px;
    color: #656565;
    text-transform: lowercase;
}

.section-title p {
    font-weight: 400;
    text-align: center;
    margin: 40px 0 0;
    /*color: #a6a6a6;*/
    font-size: 20px;
    line-height: 1.4;
}

.section-title.bb {
    padding-bottom: 25px;
    margin: 0 0 40px;
}

.section-title.bb p {
    margin: 19px 0 0;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.section-title-02 {
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
}

.section-title-02 h3 {
    font-size: 34px;
    color: #656565;
    text-transform: lowercase;
    line-height: 1.2;
    margin-bottom: 0;
}

.section-title-02 p {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

h1.heading,
h2.heading,
h3.heading,
h4.heading,
h5.heading,
h6.heading {
    line-height: 1.2;
    margin: 0 0 20px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .section-title h2 {
        font-size: 32px;
    }
    .section-header-3 h2 {
        font-size: 20px;
    }
    .section-header-3 p {
        font-size: 16px;
    }
    .section-title-05 h2 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 35px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
    }
}

@media (max-width: 479px) {}


/**
 * Background
 */

.bg-primary {
    background: #33B6CB !important;
    color: #FFF !important;
}

.bg-info {
    background: #006C95 !important;
    color: #FFF !important;
}

.bg-success {
    background: #358D44 !important;
    color: #FFF !important;
}

.bg-warning {
    background: #EDBA39 !important;
    color: #FFF !important;
}

.bg-danger {
    background: #E0585C !important;
    color: #FFF !important;
}

.bg-color-02 {
    background: #EB8F5B !important;
    color: #FFF !important;
}

.bg-color-03 {
    background: #729C2C !important;
    color: #FFF !important;
}

.bg-light {
    background: #F5F5F5 !important;
}

.bg-light-2 {
    background: #F0F0F2 !important;
    color: #333333;
}

.bg-light-3 {
    background: #F2F2F2 !important;
    color: #333333;
}

.bg-dark {
    background: #444 !important;
    color: #FFF;
}

.bg-dark-2 {
    background: #292E34 !important;
    color: #FFF;
}

.bg-white {
    background: #FFF !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-info h1,
.bg-info h2,
.bg-info h3,
.bg-info h4,
.bg-info h5,
.bg-info h6,
.bg-success h1,
.bg-success h2,
.bg-success h3,
.bg-success h4,
.bg-success h5,
.bg-success h6,
.bg-warning h1,
.bg-warning h2,
.bg-warning h3,
.bg-warning h4,
.bg-warning h5,
.bg-warning h6,
.bg-danger h1,
.bg-danger h2,
.bg-danger h3,
.bg-danger h4,
.bg-danger h5,
.bg-danger h6,
.bg-color-02 h1,
.bg-color-02 h2,
.bg-color-02 h3,
.bg-color-02 h4,
.bg-color-02 h5,
.bg-color-02 h6,
.bg-bg-color-03 h1,
.bg-bg-color-03 h2,
.bg-bg-color-03 h3,
.bg-bg-color-03 h4,
.bg-bg-color-03 h5,
.bg-bg-color-03 h6 {
    color: #FFF !important;
}

.bg-primary a,
.bg-info a,
.bg-success a,
.bg-danger a,
.bg-warning a,
.bg-color-02 a,
.bg-color-03 a {
    color: #FFF;
}

.bg-primary a:hover,
.bg-info a:hover,
.bg-success a:hover,
.bg-danger a:hover {}


/**
 * Image Background
 */

.image-bg-wrapper {
    position: relative;
    padding: 120px 0 130px;
    background-size: cover;
    background-position: center center;
    color: #FFF;
}

.image-bg-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(231,96,74, 0.8);
}

.image-bg-wrapper.overlay-black:before {
    background: rgba(0, 0, 0, 0.7);
}

.image-bg-wrapper.overlay-white:before {
    background: rgba(255, 255, 255, 0.7);
}

.image-bg-wrapper.no-overlay:before {
    display: none;
}

.image-bg-wrapper h1,
.image-bg-wrapper h2,
.image-bg-wrapper h3,
.image-bg-wrapper h4,
.image-bg-wrapper h5,
.image-bg-wrapper h6 {
    color: #FFF;
}

.image-bg-wrapper .btn {
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0;
    line-height: 1.15;
    padding: 13px 22px;
    font-size: 14px;
    letter-spacing: 2px;
}

.bg-img,
.image-bg {
    background-size: cover !important;
    background-repeat: no;
    background-position: center center;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    background: rgba(0, 0, 0, 0);
}

.overlay-box:hover .image-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.image-overlay:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.overlay-content {
    display: inline-block;
    vertical-align: middle;
    color: #fff
}

.overlay-icon {
    margin-bottom: 6px;
    color: #fff;
    border: 2px solid #FFF;
    padding: 10px 10px;
    border-radius: 3px;
    -webkit-transition: opacity .25s ease, background-color .45s ease;
    transition: opacity .25s ease, background-color .45s ease;
    opacity: 0;
    filter: alpha(opacity=0);
}

.overlay-box:hover .overlay-icon {
    opacity: 1;
    filter: alpha(opacity=100);
}

.overlay-icon i {
    color: #fff;
    font-size: 56px;
}


/**
 * Button
 */

.btn {
    border-radius: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-weight: 700;
    border-width: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-search {
    padding-top: 9px;
    padding-bottom: 8px;
}

.btn-pure {
    padding: 0;
    font-size: inherit;
    background: none;
    line-height: 1;
}

.btn-default {
    color: #555;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
}

.btn-default:hover {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

.btn-primary {
    background: #e7604a;
    border-color: #e7604a;
    color: #FFF !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #d45742;
    border-color: #d45742;
}

.btn-info {
    background: #2E8ED7;
    border-color: #2E8ED7;
    color: #FFF !important;
}

.btn-info:hover {
    background: #4477B2;
    border-color: #4477B2;
}

.btn-success {
    background: #358D44;
    border-color: #358D44;
    color: #FFF !important;
}

.btn-success:hover {
    background: #52B545;
    border-color: #52B545;
}

.btn-warning {
    background: #EDBA39;
    border-color: #EDBA39;
    color: #FFF !important;
}

.btn-warning:hover {
    background: #EDC868;
    border-color: #EDC868;
}

.btn-danger {
    background: #FF3755;
    border-color: #FF3755;
    color: #FFF !important;
}

.btn-danger:hover {
    background: #F50C27;
    border-color: #F50C27;
}

.btn-color-02 {
    background: #87495B;
    border-color: #87495B;
    color: #FFF !important;
}

.btn-color-02:hover {
    background: #A1576C;
    border-color: #A1576C;
}

.btn-color-03 {
    background: #0B4D81;
    border-color: #0B4D81;
    color: #FFF !important;
}

.btn-color-03:hover {
    background: #0E5E9C;
    border-color: #0E5E9C;
}

.btn-dark {
    color: #FFF !important;
    background: #333 !important;
    border: #333 !important;
}

.btn-dark:hover {
    opacity: 0.8;
}

.btn-primary.btn-inverse,
.btn-info.btn-inverse,
.btn-success.btn-inverse,
.btn-warning.btn-inverse,
.btn-danger.btn-inverse {
    background: transparent;
    border-width: 2px;
}

.btn-primary.btn-inverse {
    color: #e7604a !important;
    border-color: #e7604a !important;
}

.btn-info.btn-inverse {
    color: #2E8ED7 !important;
}

.btn-success.btn-inverse {
    color: #358D44 !important;
}

.btn-warning.btn-inverse {
    color: #EDBA39 !important;
}

.btn-danger.btn-inverse {
    color: #FF3755 !important;
}

.btn-primary.btn-inverse:hover {
    color: #FFF !important;
    background: #e7604a;
}

.btn-info.btn-inverse:hover {
    color: #FFF !important;
    background: #e7604a;
}

.btn-success.btn-inverse:hover {
    color: #FFF !important;
    background: #5CC72A;
}

.btn-warning.btn-inverse:hover {
    color: #FFF !important;
    background: #EDBA39;
}

.btn-danger.btn-inverse:hover {
    color: #FFF !important;
    background: #E6324D;
}

.btn-more-less,
.btn-info-more-less {
    background: none;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #7F4681;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.btn-more-less:hover,
.btn-more-less:focus,
.btn-more-less:active,
.btn-info-more-less:hover,
.btn-info-more-less:focus,
.btn-info-more-less:active {
    color: #99549C;
}

.btn-more-less {
    background: none;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #F65C33;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.btn-more-less:hover,
.btn-more-less:focus,
.btn-more-less:active {
    color: #F65C33;
}

.btn-icon {
    position: relative;
    padding-right: 36px;
}

.btn-icon .icon {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 0;
    width: 36px;
    text-align: center;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    padding-top: 10px;
}

.btn-sm {
    padding: 0 10px;
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 10px;
    letter-spacing: 1px;
}

.btn-lg {
    padding: 0 20px;
    padding-top: 18px;
    padding-bottom: 16px;
    font-size: 14px;
}

.btn-lg + .btn-lg {
    margin-left: 15px;
}

.btn-lg.btn-icon {
    padding-right: 66px;
}

.btn-lg.btn-icon .icon {
    width: 46px;
    font-size: 30px;
    padding-top: 5px;
}