html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

html {
    font-family: sans-serif;
}

header{
	background-color: gray;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 5%;
}

#navbar{
	padding-left: 20%;
}

#header li{
	margin-top: 8%;
	display: inline-block;
}

.logo{
	float:left;
	margin-top: 2%;
}

.navbar-nav li a{
	display: inline-block;
    padding: 5px 10px 6px;
	border: 1px solid rgba(255, 255, 255, 0.8);
    line-height: 1;
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.navbar-nav li{
	margin-right: 1%;
}

ul.navbar-nav li:hover {
    background: #e7604a;
    border-color: #e7604a;
}

ul.navbar-nav li:hover a{
    color: #FFF;
}

.user-restaurant-contacts-list{
	border-style: dotted;
}

.navbar-nav .user-restaurant-contacts-list {
	border: 0;
}

.nav-mini-wrapper {
    width: 16%;
}

.user-list ul{
	list-style: none;
	padding-left: 0;
	display:none;
	position: absolute;
	background-color: gray;
}

.user-list:hover .dropdownuser{
	display:block;
}

.user-list{
	position: relative;
	display: inline-block;
}

.restaurant-list ul{
	list-style: none;
	padding-left: 0;
	display:none;
	position: absolute;
	background-color: gray;
}

.restaurant-list:hover .dropdownrestaurant{
	display:block;
}

.restaurant-list{
	position: relative;
	display: inline-block;
}

ul.nav-mini.sign-in {
    margin-top: 1px;
	position: relative;
    left: 550%;
}

ul.nav-mini.sign-in li:after {
    /*display: none;*/
}

ul.nav-mini.sign-in li a {
    border: 1px solid rgba(255, 255, 255, 0.8);
    line-height: 1;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px 8px 4px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

ul.nav-mini.sign-in li a:hover {
    color: #FFF;
    background: #e7604a;
    border-color: #e7604a;
}

#fundo{
	background-image:url('../images/site/fundo.jpg');
	background-repeat: no-repeat;
	 background-size: cover;
}

#login,#registration{
	text-align: center;
}

#login input{
	width:200px;
	margin-top:1%;
	margin-bottom:2%;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}
#login button{
	margin-bottom:2%;
}

#submit {
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	width:90px;
}

#registration p{
	padding-top:2%;
}

#registration button{
	margin-bottom:2%;
}

#registration input{
	width:200px;
	margin-top:1%;
	margin-bottom:1%;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}



.rating {
    width:160px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    opacity:0;
	width:25px;
    height:25px;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
	margin-right:2px;
    
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    color:#FFF;
	content:url("../images/restaurant/star.png");
}
